html,
body {
  margin: 0;
  padding: 0;
  background: #333;
}
header h1 {
  background: #000;
  color: snow;
  text-align: center;
  margin: 0 0 15px 0;
  padding: 5px;
}
.contenedor {
  width: 100%;
  height: 100vh;
  display: inline-flex;
}

.area {
  background: #fff;
  margin: 10px;
  padding: 4px;
  width: 100%;
  height: 95%;
}

.vista {
  background: #fff;
  margin: 10px;
  padding: 4px;
  width: 100%;
  height: 95%;
}

.footer {
  font-size: 1.4em;
  background: black;
  color: white;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 5px;
}
